/* 
    get-start
*/
.lg-get-start {

    &-area {
        &::after {
            content: "";
            width: 60%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(26, 45, 78, 1) 35%, rgba(0, 212, 255, 0) 100%);
            z-index: -1;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &-shape {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &-scn-title {
        .lg-scn-title-1 {
            font-size: 45px;
            letter-spacing: 0;
            line-height: 1.177;

            @media #{$lg} {
                font-size: 40px;
            }
    
            @media #{$md} {
                font-size: 35px;
                letter-spacing: -1px;
            }
        
            @media #{$xs} {
                font-size: 26px;
                letter-spacing: 0px;
            }
        
            @media #{$sm} {
                font-size: 30px;
            }
        }

    }

    &-content {
        max-width: 580px;
    }
}
/* 
    get-end
*/