
/* 
  header-1-css-start
*/


.sticky_header_1 {

  &:is(.sticky1) {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    animation: slideInDown .5s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.lg-header-1 {

  &-area {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    z-index: 5;
  }

  &-action-link {
    gap: 30px;

    @media #{$xs} {
      gap: 10px;
    }

    .lg-menu-btn-1 {
      @media #{$over,$xxxl,$xxl,$xl,$lg} {
        display: none;
      }
    }

    .lg-pr-btn-1 {
      @media #{$xs} {
        display: none;
      }
      @media #{$sm} {
        display: flex;
      }
    }


  }

}


.main-navigation {
  .navbar-nav {
    display: inherit;
    li {
      display: inline-block;
      position: relative;

      &:not(:last-child) {
        margin-right: 37px;

        @media #{$lg} {
          margin-right: 20px;
        }
      }

      a {
        position: relative;
        z-index: 1;
        font-family: var(--lg-h-font-1);
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
        color: var(--lg-clr-h1);
        padding: 25px 0;
        display: inline-block;
        text-transform: capitalize;
        line-height: 1;
        transition: all .5s var(--wa-cube-1);

      }

      &:hover {
        > a {
          color: var(--lg-clr-pr-1);
          transform: translateY(5px);
        }
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px) translateZ(0);
        }
      }
    }
  }
}

/* 
  header-1-css-end
*/



/* 
  sticky-header-css-start
*/
.txa_sticky_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 300ms ease-in-out;
  z-index: 8;


  &:is(.txa_sticky) {
    transform: translateY(-150%);

    &:is(.txa_sticky_show) {
      transform: translateY(0%);
    }
  }

  &:is(.fx-header-1-area) {
    top: 12px;

    &:is(.txa_sticky_show) {
      .fx-header-1-top {
        @media #{$md,$xs} {
          display: none;
        }
      }
    }

  }

  &:is(.fx-header-3-area) {
    top: 32px;
  }

  &:is(.fx-header-4-area ) {
    top: 20px;
  }

}


/* 
  sticky-header-css-end
*/