/* 
    hero-start
*/

.lg-body {
    background-color: #EFF4F8;
}

.treed-transform {
    perspective: 2000px;
    transform-style: preserve-3d;
}

.has-redius {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;

    @media #{$xs} {
        margin-left: 10px;
        margin-right: 10px;
    }

    @media #{$sm} {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.laa-hight-20 {
    width: 100%;
    height: 20px;
}

.wa-split-text-3 {
	text-transform: unset !important;
	.split-line {
		div {
			div {
				&:nth-child(1) {
					text-transform: capitalize;
                    
				}
			}
		}
	}
}

.lg-hero-1 {

    &-area {
        padding-top: 150px;

        @media #{$md,$xs} {
            padding-top: 200px;
        }
    }

    &-content {
        margin-top: -70px;
        
        @media #{$md,$xs} {
            margin-top: 0;
            margin-bottom: 50px;
        }

        .lg-scn-title-1 {
            margin-bottom: 45px;
        }

        &-btn {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 40px;
        }


    }


    &-img {
        margin-right: -298px;
        mix-blend-mode: multiply;
        
        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }
    }


    &-bg-shape {
        position: absolute;
        top: 450px;
        width: 100%;
        left: 0;
        height: 850px;
        z-index: -1;

        @media #{$lg} {
            height: 600px;
        }

        @media #{$md,$xs} {
            height: 300px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
    
}


/* 
    hero-end
*/