

/* 
    heading-paragraph-css-start
*/

.lg-heading-1 {
    font-family: var(--fx-font-pr-1);
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}


.lg-para-1 {
    font-family: var(--fx-font-pr-1);
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }

    &:is(.has-opacity-7) {
        opacity: .72;
    }

    &:is(.has-opacity-8) {
        opacity: 80%;
    }
}


.lg-subtitle-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px 40px;
    font-family: var(--fx-font-pr-1);
    color: #000;
    line-height: 1;
    margin-bottom: 0;
    opacity: 64%;
    margin-bottom: 20px;
    font-weight: 400;

    &:is(.has-clr-white) {
        color: #fff;
    }

    &:is(.has-mb-28) {
        margin-bottom: 28px;
    }
}


.lg-scn-title-1 {
    font-family: var(--lg-h-font-1);
    text-transform: capitalize;
    font-size: 64px;
    font-weight: 600;
    color: var(--lg-clr-h1);
    letter-spacing: -1px;
    line-height: 1.093;
    margin-bottom: 0;

    .pr-clr {
        color: var(--lg-clr-pr-1);
    }

    &:is(.has-clr-white) {
        color: #fff;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 35px;
        letter-spacing: -1px;
    }

    @media #{$xs} {
        font-size: 26px;
        letter-spacing: 0px;
    }

    @media #{$sm} {
        font-size: 30px;
    }
}

/* 
    heading-paragraph-css-end
*/
